.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.sectionHome {
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  position: relative;
  height: 500px;
  width: 100%;
}
.imgSectionEmpresa {
  background: url("img/garrafasPuerta.png");
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%;
  width: 100%;
}
.sectionHomeContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #ffff;
  font-family: bahnschrift;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}
.sectionHomeContentTitle {
  font-size: 60px;
}
.sectionHomeContentList {
  font-size: 30px;
}
a{
  color:#282c34;
}